<div class="botao-cadastro">
    <a routerLink="/alunos/cadastro">Cadastro</a>
</div>


<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Média</th>
            <th>Frequencia</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @for (aluno of alunos; track aluno){
            <tr>
                <td>{{aluno.nome}}</td>
                <td>{{aluno.media.toFixed(2).replace(".", ",")}}</td>
                <td>{{aluno.frequencia}}%</td>
                <td>{{aluno.status}}</td>
                <td>
                    <button (click)="apagar(aluno)">Aluno</button>
                </td>
            </tr>
        }
    </tbody>
</table>