<div>
    <label for="nome">Nome</label>
    <input type="text" id="nome" [(ngModel)]="nome">
</div>
<div>
    <label for="nota1">Nota 1</label>
    <input type="number" id="nota1" [(ngModel)]="nota1">
</div>
<div>
    <label for="nota2">Nota 2</label>
    <input type="number" id="nota2" [(ngModel)]="nota2">
</div>
<div>
    <label for="nota3">Nota 3</label>
    <input type="number" id="nota3" [(ngModel)]="nota3">
</div>
<div>
    <label for="frequencia">Frequencia</label>
    <input type="number" id="frequencia" [(ngModel)]="frequencia">
</div>

<div class="botao-cadastro">
<button (click)="salvar()">Salvar</button>
</div>

